## Imports
import(methods)
import(stats)
import(graphics)

## IMPORTS FROM OTHER PACKAGES
#importFrom(graphics, plot)
importFrom(grDevices, rgb)
importFrom(grDevices, grey)
importFrom(utils, packageVersion)

## EXPORT S3 methods
S3method(plot, nplr)

## EXPORT S3 FUNCTIONS
export(
  nplr,
  convertToProp,
  plot.nplr,
  overlay
)

## EXPORT METHODS
exportMethods(
  getAUC,
  getEstimates,
  getFitValues,
  getGoodness,
  getInflexion,
  getPar,
  getStdErr,
  getX,
  getXcurve,
  getY,
  getYcurve
)


## EXPORT CLASSES
exportClasses(
  nplr
)
